table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.ios, .md {
 
    page-home {
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
 
    }
 
}
// MY CSS
.tabSwitchArrGraph { /* grid contains tabs for switch between array and charts */
    padding: 0;
    margin: 0;
    ion-col { /* one tab */
        padding: 0;
        margin: 0;
    }
    ion-col:first-child {
        button {
            border-right: 2px solid white;
        }
    }
}
// DISPLAY OF TABS
#arrayContent {
    display: block;
    margin-top: 10px;
}
#chartsContent {
    display: none;
    margin-top: 10px;
}