/* .searchbar-input {
    border-radius: 20px !important;
    box-shadow: 0 0 15px rgba(104, 70, 70, 0.16) !important;
} */
ion-list#listForm ion-item{ /* container of search bar */
    background-color: transparent;
}